@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.parent-hover-display-anchor .children-display-anchor{
  display: none;
}

.parent-hover-display-anchor:hover .children-display-anchor{
  display: block;
}


